
@font-face {
    font-family: "iransans";
    src: url("../fonts/IRANSansWeb_Bold.ttf");
}

.ctn{
    border: solid;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
    justify-content: space-between;
    height: 100%;

}


.item_container{
    overflow-y:scroll;
    display: flex;
    width: 60%;
    height: 700px;
    background-color: rgba(208, 208, 208, 0.4);
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 20%;
   
}


.options{

    display: flex;

    justify-content: flex-start;
    align-content: space-around;
    /* border: solid; */
    font-family: "iransans";


}

.options div{
    
    background-color: rgb(213, 213, 213);
    text-align: center;
    border-radius: 20px;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.credit_icn_ctn{
    /* display: inline; */
    width: 10%;
}

.creditImg{
    /* display: inline; */
    width: 100%;
    /* margin: 0; */
}


