
.container{
    overflow-y: scroll;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 0.5%;
    height: 800px;
    width: 100%;
    border-radius: 20px;
}

.right-side{
    /* overflow-y: scroll; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    column-gap: 2%;
    /* row-gap: 2%; */
    /* border: solid; */
    /* height:fit-content; */
    background-color: rgb(239, 239, 239);
    border-radius: 20px;

}

.left-side{
    
    display: flex;
    flex-flow: column;
    justify-items: center;
    height: auto;
    /* border: solid; */
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
}


.left-side div{
    /* border: solid; */
    text-align: center;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 2%;
}

.item-c{
    padding-left: 5%;
    width: 70%;
    border: solid;
    margin-top: 4%;
    border-width: 2px;
    border-color: rgb(217, 217, 217);
    border-radius: 20px;
}

.pic-c img{
    width: 90%;
    /* border-bottom: solid; */
}