
@font-face {
    font-family: "iransans";
    src: url("../fonts/IRANSansWeb_Bold.ttf");
}

.ok_btn{
    /* overflow:; */
    /* display: flex; */
    width: 15%;
    /* border: solid; */
    margin-top: 1%;
    margin-left: 2.5%;
}

.ok_btn button {
    width: 100%;
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
}


.result_c{

    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5%;
    row-gap: 2%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    /* background-color: rgb(189, 189, 189); */
    /* justify-content: cente; */

    /* grid-template-rows: 1fr 1fr; */

}

.order_c{
    border: solid;
    padding-right: 1%;
    border-color: rgba(119, 119, 119, 0.5);
    direction: rtl;
    width: 100%;
    border-radius: 20px;
    padding: 1%;


    
}

.order_c:hover{
    cursor: pointer;
    box-shadow: 0 0 2px rgb(99, 99, 99);
}

.order_c p{
    font-family: "iransans";
    overflow-x: hidden;
    max-width: 100%;
}