
@font-face {
    font-family: yekan;
    src: url("../fonts/yekan-regular.ttf");
}

.container{

    background-color: rgb(235, 235, 235);
    margin-left: 25%;
    margin-right: 25%;
    direction: rtl;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    padding-right: 1%;
    border-radius: 20px;
}

.field{

    background-color: rgb(200, 200, 200);
    width: 70%;
    margin-right: 10%;
    font-family: "yekan";
    border-radius: 20px;

}

.field p{
    
    padding: 0.5%;
    padding-right: 0.8%;
}