@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: samim;
    src: url("../fonts/Samim.woff");
}

.ctn{
    margin-top: 10%;
}
.form{
    width: 30%;
    font-family: "samim";
    font-weight: 600;
    font-size: 18px;
    margin-left: 35%;
    
}

.h1{
    font-family: "samim";
    direction: rtl;
    width: 30%;
    text-align: right;
    margin-left: 35%;
}

.input{
    display: block;
    width:100%;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    border-radius: 20px;
    border: solid;
    border-color: rgba(181, 181, 181, 0.5);
    padding-left: 1.5%;
    margin-top: 1%;
}

.input:focus{
    outline: none;
    box-shadow: 0px 0px 3px rgb(173, 173, 173);
}

.label{
    display: block;
    direction: rtl;
    width:100%;
    /* border: solid; */
}


.submit{

    width: 100%;
    font-family: "samim";
    font-size: 18px;
    margin-top: 3%;
    border: none;
    border-radius: 20px;

}


.checkboxC{
    /* display: flex; */
    width: 100%;
    font-size: 15px;

}

.checkboxC_input{
    display: inline;
    /* border: solid; */
   width: 10%;
}


.checkboxC_p{
    display: inline;
    /* border: solid; */
}