
.header {
    /* border: solid; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.header div{
    width: 3%;
    margin-left: 1%;
}
.header div img{
    width: 100%;
    
}



.ctn-1{
    /* overflow-y: scroll; */
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 825px; */

}

.ctn-2{
    /* border: solid; */
    display: flex;
    width: 50%;
    margin-bottom: 2%;
}

.img-ctn{


    border: solid;
    border-radius: 20px;
    border-color: rgba(165, 165, 165,0.5);

    width: 50%;
}

.img-ctn img{
    width: 100%;
}


.food-info{
    border: solid;
    border-radius: 20px;
    border-color: rgb(218, 218, 218);
    width: 50%;
    direction: rtl;
}

.comments{


    display: flex;
    flex-direction: column;
    width: 50%;
}