
@font-face {
    font-family: vazir;
    src: url("https://drive.google.com/file/d/1INCLT9OxVaXCrgM2nnHjlvTNsZRz1lWV/view?usp=sharing");
    /* font-weight: 00; */
    font-weight: 30px;
}

nav{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid ;
    border-color: rgb(186, 186, 186);
    border-radius: 10px;
    
}


.logo{
    height: 100%;
    width: 100%;
    border-radius:50%;
    
}

.logo-container{

    display: inline;
    width: 6%;
    height: 100%;
   margin-right: 59%
}

.input-container{
    display: inline;
    width: 20%;
    height: 100%;
    margin-right: 30%;
}

.search-box{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
    padding: 2%;
    border-radius: 20px;
    border: none;
    border-color: rgb(157, 157, 157);
}

.search-box :hover{
    border: solid;
    
}
.search-box:focus{
    outline-color: rgb(157, 157, 157);
    box-shadow: 0px 0px 5px gray;
}


.links-container{
    margin-right: 3%;
}

.link{

    font-family: "vazir";
    text-decoration: none;
    font-size: 19px;
    color: rgb(87, 87, 87);
    font-weight: 500;
}

